*{margin:0; padding:0;}

 html{
    width: 100%;
    height: 100%;
    position: relative;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    background: #000;
    color: #CFEBE4;
    /* font-size: 18px; */
    /* line-height: 2; */
    /* letter-spacing: 1.2px; */
    /* margin: 0; */
	/* overflow-y:hidden; */
}

.block>div>a{
    color: #ebf7f4;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
	text-decoration: none;
}
/* 
#background{
    width: 80%;
    z-index: 999;
    margin: auto;
    background: wheat;
} */
/* .body--ready{
    background: -webkit-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -moz-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -o-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -ms-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
} */

/* 
.personal:focus .personal>div{
    display: none;
}
.personal:focus .personal>.block>div>img{
    display: block;
} */

.personal{
    /* position: relative; */
    /* float: left; */
    /* z-index:2; */
    text-align: center;
    /* max-width: 350px; */
    /* 淡入 */
    animation: fade-in;
    animation-duration: 1s;
    -webkit-animation: fade-in 1s;
    margin: auto;
    /* padding: 10px 10px; */
    /* position:absolute; */
    /* position:fixed; */
    /* left:0px; */
    /* top:2%; */
    /* display:none; */
    transform: scale(0,0);
    transition-property:width height;
    transition-duration:2s;
    transition-delay:0.8s;
    width: 100%;
    height: 100%;
    /* height: 100%; */
    /* display: none; */
}
.personal:hover{
    cursor: pointer;
}
.block{
    width: 20%;
    margin: 0 6%;
    display: inline-block;
}

.canvas {
	width: 100%;
	/* z-index:0; */
    margin: 0;
    /* display: block; */
}
img.logo {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 100px;
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 0.61);
    opacity: 1;
    margin: auto;
    margin-top: 70px;
	transition: all 1.0s;  
}
.logo:hover {
    box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 19px #fff;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 	/* IE 9 */
    -moz-transform:rotate(360deg); 	/* Firefox */
    -webkit-transform:rotate(360deg); /* Safari �� Chrome */
    -o-transform:rotate(360deg); 	/* Opera */
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.anniu {
    color: #3F3F3F99;
    font-weight: 500;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 5px 9px;
    border-radius: 10px;
    margin-top: 10px;
}
.anniu:hover {
    color: #FFFFFFE6;
    background: red;
    /* background-color: rgba(255, 255, 255, 0.06); */
    transition: all 350ms;
    
}

.block>div>a:link, .block>div>a:visited{ 
    color:#D0CCCC; 
    text-decoration:none; 
} 
.block>div>a:hover, .block>div>a:active{ 
    color:#fff; 
    text-decoration:none; 
}
         

.label{
    width: 20%;
    z-index: 1;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.label:hover{
    cursor: pointer;
}
.people{
    position: relative;
    width: 360px;
}
.people>img{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 60px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.61);
    opacity: 1;
    margin: auto;
	transition: all 1.0s;  
    display: inline-block;
}
.people>div{
    display: inline-block;
    height: 90px;
    margin-left: 20px;
}

.right{
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    height: 80%;
    /* border: 1px solid red; */
    display: none;
}

.right>img{
    width: 150px;
    padding: 5px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
    transition: all 0.5s ease-in;
    position: absolute;
    z-index: 1;
}
.right>img:hover{
    transform:rotate(0deg) scale(3.0);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    z-index: 10;
}
.right>img:last-child:hover{
    transform:rotate(0deg) scale(4.0) !important;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    z-index: 10;
}

.first{
    left: 50%;
    top: 3%;
    transform:rotate(-5deg);
}
.second{
    left: 25%;
    top: 13%;
    transform:rotate(-20deg);
}
.third{
    top: 26%;
    right: 6%;
    transform:rotate(5deg);
}
.fourth{
    top: 76%;
    left: 37%;
    transform:rotate(-10deg);
}
.fiveth{
    top: 66%;
    right: 7%;
    transform:rotate(10deg);
}
.sixth{
    left: 1%;
    top: 0;
    transform:rotate(10deg);
}
.seventh{
    left: 64%;
    top: 8%;
    transform:rotate(20deg);
}
.eighth{
    left: 1%;
    top: 45%;
    transform:rotate(-15deg);
}
.nineth{
    left: 7%;
    top: 75%;
    transform:rotate(10deg);
}
.tenth{
    width: 200px !important;
    left: 37%;
    top: 38%;
    transform:rotate(15deg);
    border-radius: 100%;
}

@keyframes circle{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

@keyframes blink{
    0%{opacity: 1;}
    100%{opacity: 0;} 
}

.blink{
    position: fixed;
    margin: auto;
    left: 0; right: 0;
    bottom: 5%;
    font-size: 24px;
    color: #fff;
    animation: blink 1.5s linear infinite;  
}

.blink2{
    position: fixed;
    left: 20%;
    bottom: -5%;
    font-size: 28px;
    color: #fff;
    animation: blink 1.5s linear infinite;  
}

.return{
    display: block;
    width: 100px;
    height: 40px;
    background-color: rgb(0,0,0,0);
    border: 1px solid #ff6b6b;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: absolute;
    top: 5%; right: 2%;
    display: none;
    /* animation: blink 3s linear infinite; */
    transition: transform 1s; 
}
.return:hover{
    transform: scale(1.2);
    cursor: pointer;
}




.copyright {
    bottom: 0;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 8em;
    position: absolute;
    text-align: center;
    width: 100%;
	transform: scale(0,0);	
	transition-property:width height;
	transition-duration:2s;
	transition-delay:0.8s;
    /* z-index:2; */
    display: none;
}

#shiping{
    padding:0px;	
    margin:0px;	
    display: none;
}

#shiping #mp4_sp #bfq{
	margin:0px;
	padding:0px;
	display: none;
}

#bfq{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    /* z-index: 1; */
    background: url(#) no-repeat;
    background-size: cover; 
    opacity:0.0;
    transition: all 2.0s;
    display: none;
}

