.container {
    width: 70%;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}

#background>a{
    text-decoration: none;
    color: #333;
}
.number1,.number2,.number3,.number4,.number5,.number6{
    display: none;
}

.page::before {
    display: table;
    content: "";
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
/* 
.page {
    margin-bottom: 200px;
} */

.page-right {
    width: 450px;
    height: 300px;
    margin-top: 50px;
    margin-right: 80px;
    float: right;
    overflow: hidden;
    margin-bottom: 50px;
    border-radius: 10px;
}

.page h2 {
    width: 300px;
    margin: 50px auto auto 80px;
    padding-bottom: 20px;
    border-bottom: 3px solid #ccc;
}
.page>p {
    width: 300px;
    margin-left: 80px;
    margin-top: 30px;
    position: relative;
}
.page>p>span{
    position: absolute;
    right: 0;
}

.page {
    position: relative;
    z-index: 3;
    transition: all 1s;
    cursor: pointer;
}

/* 610 */
.liu .page-right img {
    width: 450px;
    /* opacity: 0.8;   */
    transition: all 1s;
}
/* 董倩 */
.dong .page-right img {
    width: 484px;
    /* opacity: 0.8; */
    transition: all 1s;
}
/* 杨曼丽 */
.yang .page-right img {
    margin-left: 150px;
    width: 300px;
    /* opacity: 0.8; */
    transition: all 1s;
}
/* 李治宏 */
.li .page-right img {
    width: 450px;
    /* opacity: 0.8;   */
    transition: all 1s;
}
/* 郭飞飞 */
.guo .page-right img {
    width: 450px;
    /* opacity: 0.8;   */
    transition: all 1s;
}
/* 吉继帅 */
.ji .page-right img {
    width: 450px;
    /* opacity: 0.8;   */
    transition: all 1s;
}

.liu>img,
.dong>img,
.yang>img,
.li>img,
.guo>img,
.ji>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(4px);
    transition: all 1s;
}

.guo {
    color: #fff !important;
}
.page:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.35);
}
.liu:hover>img,
.dong:hover>img,
.yang:hover>img,
.li:hover>img,
.guo:hover>img,
.ji:hover>img {
    /* 高斯模糊滤镜 */
    filter: blur(0);
}
.liu:hover .page-right img,
.dong:hover .page-right img,
.yang:hover .page-right img, 
.li:hover .page-right img, 
.guo:hover .page-right img, 
.ji:hover .page-right img  {
    /* 透明度为0，不显示 */
    opacity: 0;
}

.big {
    font-size: 40px;
}